/* PaymentPage.css */

.payment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -10px;
  margin-left: -180%;
}

.payment-form {
  width: 300px;
  padding: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.payment-form-group {
  margin-bottom: 15px;
}

.payment-form-group label {
  display: block;
  margin-bottom: 5px;
}

.payment-form-group input[type="text"],
.payment-form-group select,
.payment-form-group input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.payment-form-group select {
  cursor: pointer;
}

.payment-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.payment-form button:hover {
  background-color: #0056b3;
}
