.dashboard {
  background-color: #e3dfdf; /* Set your desired background color */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Example: 2 columns */
  grid-gap: 20px; /* Adjust as needed for spacing between grid items */
  padding: 20px; /* Adjust padding as needed */
  margin-top: 6%;
}

.grid-box {

  background-color: #fff; /* Set background color for grid boxes */
  border: 1px solid #ccc; /* Add border for grid boxes */
  padding: 50px; /* Add padding inside grid boxes */
  text-align: center; /* Center text inside grid boxes */
  
}

/* Example classes for different events */
.event1 {
  background-color: #ffcccc; /* Set background color for event 1 */
}

.event2 {
  background-color: #ccffcc; /* Set background color for event 2 */
}

.event3 {
  background-color: #ccccff; /* Set background color for event 3 */
}

.event4 {
  background-color: #ffffcc; /* Set background color for event 4 */
}
.event1_img{
  width: 90%;
}
/* Add more event classes as needed */
