/* AdminPage.css */

/* Navbar styles */
.navbar_admin {
    position: absolute;
    background-color: #394867;
    color: #fff;
    padding: 10px 0;
    height: 10%;
    width: 99.9%;
    top: 0%;
    left: 0%;
  
  }
  
  .navbar-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .navbar-logo {
    font-size: 18px;
  }
  
  
  
  .navbar-toggle {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
  }
  
  /* Sidebar styles */
  .sidebar {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #F1F6F9;
    transition: left 0.3s ease-in-out;
    padding-top: 60px;
  }
  
  .sidebar.open {
    left: 0;
  }
  
  .sidebar-close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 24px;
    color: #000000;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .sidebar-menu {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar-menu-item {
    padding: 10px;
    color: #000000;
    cursor: pointer;
  }
  
  .sidebar-menu-item:hover {
    background-color: #ff0000;
  }
  
  /* Main content styles */
  .main-content {
    margin-left: 200px; /* Adjust according to sidebar width */
    padding: 20px;
  }
  .navbar-logout{
    position: absolute;
    left: 520%;
    width: 100px;
    text-align: center;
    top: 15%;
  }
  .admin_img1{
    position: absolute;
    width: 1010px;
    height: 500px;
    left: 200px;
    top: 80px;
  }