.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:rgb(255, 255, 255); /* Change background color as desired */
  padding: 10px 20px; /* Adjust padding as needed */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  z-index: 1000; /* Ensure the navbar is above other elements */
}

.logo {
  position: absolute;
  color: #000000; /* Change logo text color */

}
.logo a :hover{
  color:rgba(255, 217, 0, 0.842);
}
.nav_imagelogo{
  position: absolute;
  width: 290%;
  top: 4%;
}
.nav_title{
  position: absolute;
  font-style: italic;
  font-weight: 400;
  top: 40%;
  left: 160px;

}
.nav-links {
  position: absolute;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  left: 50%;
}

.nav-links li {
  margin-right: 30px; /* Adjust spacing between nav items */
  
}

.nav-links li a {
  color: #000000; /* Change nav item text color */
  text-decoration: none;
}

.auth-buttons button {
  margin-left: 15px; /* Adjust spacing between buttons */
}

.nav-links a:hover{
  color: rgb(223, 159, 159);
}

/* Media Query for small screens */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px; /* Adjust padding as needed */
  }

  .nav-links {
    margin-top: 10px; /* Adjust spacing between nav items */
  }

  .auth-buttons {
    margin-top: 10px; /* Adjust spacing between buttons */
  }
}
